<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <servlet>
        <servlet-name>cxf</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>cxf</servlet-name>
        <url-pattern>/cnf/services/*</url-pattern>
    </servlet-mapping>

    <!-- configure a security-constraint to be applied to the specified URL 
        pattern and only allow authenticated users with the CLIENT role -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secured-services</web-resource-name>
            <url-pattern>/cnf/services/secured/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- use basic authentication to pass credentials -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>basic-authentication</realm-name>
    </login-config>

    <!-- define the CLIENT role -->
    <security-role>
        <description>client access</description>
        <role-name>CLIENT</role-name>
    </security-role>

</web-app>
