<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <!-- define the Non Spring CXF servlet -->
    <servlet>
        <servlet-name>HelloWorldCXFNonSpringServlet</servlet-name>
        <servlet-class>com.codenotfound.soap.http.cxf.servlet.HelloWorldCXFNonSpringServlet</servlet-class>
    </servlet>

    <!-- map following URL patterns to the Non Spring CXF servlet -->
    <servlet-mapping>
        <servlet-name>HelloWorldCXFNonSpringServlet</servlet-name>
        <url-pattern>/cnf/services/*</url-pattern>
    </servlet-mapping>

</web-app>
